/*.rlib
/*.a
/*.o
*.pyc
.vagga
/tmp
/docs/_build
/dist

todo.txt

/vagga
/main

/apk
/busybox
/alpine-keys.apk
/alpine

/target

/tests/inheritance/description-pak
/tests/composer/vendor
/tests/composer_lock/vendor

# emacs files
*~
\#*#
