/*.rlib
/*.a
/*.o
.vagga
/tmp
/docs/_build

todo.txt

/vagga_launcher
/vagga_wrapper
/vagga_version
/vagga_build
/vagga_setup_netns
/vagga_network
/vagga_test
/main

/apk
/busybox
/alpine-keys.apk
/alpine

/target
