/*.rlib
/*.a
/*.o
*.pyc
.vagga
/tmp
/docs/_build
/dist

todo.txt

/vagga
/main

/apk
/busybox
/alpine-keys.apk
/alpine

target

/tests/image/images
/tests/image/nginx
/tests/inheritance/description-pak

 # directories created by bundler
/tests/gem_bundler/.bundle
/tests/gem_bundler_lock/.bundle

# emacs files
*~
\#*#
