[package]
name = "vagga"
version = "0.6.1"
authors = ["Paul Colomiets"]

[dependencies]
libc = "0.2.10"
nix = "0.7.0"
sha2 = "0.1.2"
rand = "0.3.14"
argparse = "0.2.1"
rustc-serialize = "0.3.19"
log = "0.3.6"
env_logger = "0.3.3"
url = "1.0.0"
unshare = { git="git://github.com/tailhook/unshare", rev="9bf89d1", optional=true }
signal = "0.2.0"
mopa = "0.2.2"
anymap = "0.11.1"
matches = "0.1.2"
regex = "0.1.41"
scan_dir = "0.3.1"
libmount = { version="0.1.2", optional=true }
zip = "0.1"
xz2 = "0.1.0"
tar = "0.4.8"
flate2 = "0.2.13"
bzip2 = "0.3.0"
net2 = "0.2.23"
humantime = "1.0.0"
quick-error = "1.1.0"
docopt = "0.6.83"

[dependencies.quire]
git = "git://github.com/tailhook/rust-quire"
rev = "d304c60"

[features]
default = ["containers"]
containers = ["unshare", "libmount"]
docker_runner = []

[[bin]]
name = "vagga"
path = "src/main.rs"
